@if (User.Identity!.IsAuthenticated)
{
    <ul class="navbar-nav me-0">
        <li class="nav-item dropdown">
            <a href="#" role="button" data-bs-toggle="dropdown" class="nav-link dropdown-toggle">@User.Identity.Name</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-route-returnurl="/Home/Index" asp-controller="Members" asp-action="Logout" >Çıkış Yap</a></li>
            </ul>
        </li>
    </ul>
}
else
{
    <a class="btn btn-outline-success mx-1" asp-controller="Home" asp-action="SignIn">Üye Girişi</a>
    <a class="btn btn-outline-success" asp-controller="Home" asp-action="SignUp">Üye Kayıt</a>
}